<div class="flex flex-column">
  <h3>Pokémon</h3>
  <p>Selecciona 3 Pokémon para que sean parte de tu equipo</p>
  <app-input-search (onSearch)="handleSearch($event)"></app-input-search>
  <br />
  <cdk-virtual-scroll-viewport itemSize="9" class="container-pokemons">
    <app-card-pokemon-preview
      *cdkVirtualFor="let pokemon of filterPokemons(pokemons, searchQuery)"
      [image]="getImageUrl(getIdFromURL(pokemon.url))"
      [id]="getIdFromURL(pokemon.url)"
      [name]="pokemon.name"
      (onSelectPokemon)="handleClick($event)"
      [isSelected]="isSelected(pokemon.name)"
      [disabled]="pokemonNameSelected.length === 3"
    ></app-card-pokemon-preview>
  </cdk-virtual-scroll-viewport>
  <br />
  <div class="flex justify-center">
    <app-button
      label="Continuar"
      [disabled]="pokemonNameSelected.length < 3"
      (click)="onSubmit()"
    ></app-button>
  </div>

  <br />
</div>
