.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  main {
    min-height: calc(100vh - 70px);
    padding: 10px 50px;
  }

  .max-width {
    max-width: 1300px;
    margin: auto;
    width: 100%;
  }
}
