.container-create-profile {
  display: flex;
  gap: 20px;
}

.container-load-avatar,
.container-form-profile {
  width: 50%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container-create-profile {
    flex-direction: column;
  }

  .container-form-profile,
  .container-load-avatar {
    width: 100%;
  }
}
