<div class="container-input">
  @if(typeInput == 'date') {
  <mat-form-field class="w-100" [className]="getClassName()">
    <mat-label>{{ label }} </mat-label>
    <!-- [disabled]="disabled || disable" -->
    <input
      matInput
      [matDatepicker]="picker"
      [value]="value"
      [placeholder]="placeholder"
      [required]="required"
      [readOnly]="readOnly || disabled"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      [max]="maxDate"
      [min]="minDate"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  }@else {
  <mat-form-field class="w-100" [className]="getClassName()">
    <mat-label>{{ label }} </mat-label>

    <!-- [atte.disabled]="disabled || disable" -->
    <input
      matInput
      [type]="typeInput || 'text'"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [required]="required"
      [readOnly]="readOnly || disabled"
      (ngModelChange)="onInputChange($event)"
      [mask]="mask"
    />
  </mat-form-field>

  }

  <div *ngIf="isError()" class="container-errors">
    <p class="text-error" *ngFor="let error of getListErrors(control?.errors)">
      {{ error }}
    </p>
  </div>
</div>
