<div class="profile-card flex flex-column align-center">
  <h3 class="profile-name">{{ (profile$ | async)?.name }}</h3>
  <app-avatar [imageUrl]="(profile$ | async)?.image || ''"></app-avatar>

  <div class="flex flex-column">
    <br />
    <div class="item">
      <strong>Pasatiempo:</strong>
      <span> {{ formatHobbies((profile$ | async)?.hobbies) }} </span>
    </div>
    <div class="item">
      <strong>Edad: </strong>
      {{ getAge((profile$ | async)?.birthDate) }} años
    </div>

    <div class="item">
      <strong>DUI:</strong>
      {{ (profile$ | async)?.document }}
    </div>
  </div>
  <br />
</div>
